  1 /data1/hbahk/spherex-photoz/spherex-challenge/BROWN_COSMOS/NGC_4826_spec.dat
  2 /data1/hbahk/spherex-photoz/spherex-challenge/BROWN_COSMOS/NGC_4385_spec.dat
  3 /data1/hbahk/spherex-photoz/spherex-challenge/BROWN_COSMOS/NGC_5104_spec.dat
  4 /data1/hbahk/spherex-photoz/spherex-challenge/BROWN_COSMOS/UGC_09618_S_spec.dat
  5 /data1/hbahk/spherex-photoz/spherex-challenge/BROWN_COSMOS/NGC_0337_spec.dat
  6 /data1/hbahk/spherex-photoz/spherex-challenge/BROWN_COSMOS/NGC_4138_spec.dat
  7 /data1/hbahk/spherex-photoz/spherex-challenge/BROWN_COSMOS/UGCA_219_spec.dat
  8 /data1/hbahk/spherex-photoz/spherex-challenge/BROWN_COSMOS/NGC_1275_spec.dat
  9 /data1/hbahk/spherex-photoz/spherex-challenge/BROWN_COSMOS/NGC_3627_spec.dat
 10 /data1/hbahk/spherex-photoz/spherex-challenge/BROWN_COSMOS/NGC_4194_spec.dat
 11 /data1/hbahk/spherex-photoz/spherex-challenge/BROWN_COSMOS/UGC_05101_spec.dat
 12 /data1/hbahk/spherex-photoz/spherex-challenge/BROWN_COSMOS/NGC_5033_spec.dat
 13 /data1/hbahk/spherex-photoz/spherex-challenge/BROWN_COSMOS/IC_5298_spec.dat
 14 /data1/hbahk/spherex-photoz/spherex-challenge/BROWN_COSMOS/IC_4051_spec.dat
 15 /data1/hbahk/spherex-photoz/spherex-challenge/BROWN_COSMOS/IC_0691_spec.dat
 16 /data1/hbahk/spherex-photoz/spherex-challenge/BROWN_COSMOS/UGC_06850_spec.dat
 17 /data1/hbahk/spherex-photoz/spherex-challenge/BROWN_COSMOS/Arp_118_spec.dat
 18 /data1/hbahk/spherex-photoz/spherex-challenge/BROWN_COSMOS/NGC_4458_spec.dat
 19 /data1/hbahk/spherex-photoz/spherex-challenge/BROWN_COSMOS/NGC_5866_spec.dat
 20 /data1/hbahk/spherex-photoz/spherex-challenge/BROWN_COSMOS/NGC_2537_spec.dat
 21 /data1/hbahk/spherex-photoz/spherex-challenge/BROWN_COSMOS/NGC_4551_spec.dat
 22 /data1/hbahk/spherex-photoz/spherex-challenge/BROWN_COSMOS/NGC_4550_spec.dat
 23 /data1/hbahk/spherex-photoz/spherex-challenge/BROWN_COSMOS/CGCG_453-062_spec.dat
 24 /data1/hbahk/spherex-photoz/spherex-challenge/BROWN_COSMOS/NGC_3379_spec.dat
 25 /data1/hbahk/spherex-photoz/spherex-challenge/BROWN_COSMOS/Mrk_1490_spec.dat
 26 /data1/hbahk/spherex-photoz/spherex-challenge/BROWN_COSMOS/Arp_256_S_spec.dat
 27 /data1/hbahk/spherex-photoz/spherex-challenge/BROWN_COSMOS/IC_0883_spec.dat
 28 /data1/hbahk/spherex-photoz/spherex-challenge/BROWN_COSMOS/NGC_1144_spec.dat
 29 /data1/hbahk/spherex-photoz/spherex-challenge/BROWN_COSMOS/NGC_3190_spec.dat
 30 /data1/hbahk/spherex-photoz/spherex-challenge/BROWN_COSMOS/NGC_3351_spec.dat
 31 /data1/hbahk/spherex-photoz/spherex-challenge/BROWN_COSMOS/NGC_7591_spec.dat
 32 /data1/hbahk/spherex-photoz/spherex-challenge/BROWN_COSMOS/UGC_12150_spec.dat
 33 /data1/hbahk/spherex-photoz/spherex-challenge/BROWN_COSMOS/NGC_4579_spec.dat
 34 /data1/hbahk/spherex-photoz/spherex-challenge/BROWN_COSMOS/NGC_4125_spec.dat
 35 /data1/hbahk/spherex-photoz/spherex-challenge/BROWN_COSMOS/NGC_4660_spec.dat
 36 /data1/hbahk/spherex-photoz/spherex-challenge/BROWN_COSMOS/NGC_3049_spec.dat
 37 /data1/hbahk/spherex-photoz/spherex-challenge/BROWN_COSMOS/UGC_08696_spec.dat
 38 /data1/hbahk/spherex-photoz/spherex-challenge/BROWN_COSMOS/NGC_2388_spec.dat
 39 /data1/hbahk/spherex-photoz/spherex-challenge/BROWN_COSMOS/UM_461_spec.dat
 40 /data1/hbahk/spherex-photoz/spherex-challenge/BROWN_COSMOS/III_Zw_035_spec.dat
 41 /data1/hbahk/spherex-photoz/spherex-challenge/BROWN_COSMOS/NGC_5055_spec.dat
 42 /data1/hbahk/spherex-photoz/spherex-challenge/BROWN_COSMOS/Mrk_1450_spec.dat
 43 /data1/hbahk/spherex-photoz/spherex-challenge/BROWN_COSMOS/NGC_4625_spec.dat
 44 /data1/hbahk/spherex-photoz/spherex-challenge/BROWN_COSMOS/UGCA_166_spec.dat
 45 /data1/hbahk/spherex-photoz/spherex-challenge/BROWN_COSMOS/IRAS_17208-0014_spec.dat
 46 /data1/hbahk/spherex-photoz/spherex-challenge/BROWN_COSMOS/UGCA_208_spec.dat
 47 /data1/hbahk/spherex-photoz/spherex-challenge/BROWN_COSMOS/NGC_4536_spec.dat
 48 /data1/hbahk/spherex-photoz/spherex-challenge/BROWN_COSMOS/NGC_3690_spec.dat
 49 /data1/hbahk/spherex-photoz/spherex-challenge/BROWN_COSMOS/NGC_0855_spec.dat
 50 /data1/hbahk/spherex-photoz/spherex-challenge/BROWN_COSMOS/NGC_0584_spec.dat
 51 /data1/hbahk/spherex-photoz/spherex-challenge/BROWN_COSMOS/UGC_08335_NW_spec.dat
 52 /data1/hbahk/spherex-photoz/spherex-challenge/BROWN_COSMOS/NGC_6052_spec.dat
 53 /data1/hbahk/spherex-photoz/spherex-challenge/BROWN_COSMOS/NGC_7714_spec.dat
 54 /data1/hbahk/spherex-photoz/spherex-challenge/BROWN_COSMOS/NGC_4676_A_spec.dat
 55 /data1/hbahk/spherex-photoz/spherex-challenge/BROWN_COSMOS/NGC_2623_spec.dat
 56 /data1/hbahk/spherex-photoz/spherex-challenge/BROWN_COSMOS/NGC_0474_spec.dat
 57 /data1/hbahk/spherex-photoz/spherex-challenge/BROWN_COSMOS/NGC_4569_spec.dat
 58 /data1/hbahk/spherex-photoz/spherex-challenge/BROWN_COSMOS/IC_0860_spec.dat
 59 /data1/hbahk/spherex-photoz/spherex-challenge/BROWN_COSMOS/NGC_1068_spec.dat
 60 /data1/hbahk/spherex-photoz/spherex-challenge/BROWN_COSMOS/NGC_3870_spec.dat
 61 /data1/hbahk/spherex-photoz/spherex-challenge/BROWN_COSMOS/UGCA_410_spec.dat
 62 /data1/hbahk/spherex-photoz/spherex-challenge/BROWN_COSMOS/NGC_5258_spec.dat
 63 /data1/hbahk/spherex-photoz/spherex-challenge/BROWN_COSMOS/CGCG_436-030_spec.dat
 64 /data1/hbahk/spherex-photoz/spherex-challenge/BROWN_COSMOS/NGC_4670_spec.dat
 65 /data1/hbahk/spherex-photoz/spherex-challenge/BROWN_COSMOS/NGC_7592_spec.dat
 66 /data1/hbahk/spherex-photoz/spherex-challenge/BROWN_COSMOS/NGC_3521_spec.dat
 67 /data1/hbahk/spherex-photoz/spherex-challenge/BROWN_COSMOS/NGC_4473_spec.dat
 68 /data1/hbahk/spherex-photoz/spherex-challenge/BROWN_COSMOS/NGC_3265_spec.dat
 69 /data1/hbahk/spherex-photoz/spherex-challenge/BROWN_COSMOS/NGC_3198_spec.dat
 70 /data1/hbahk/spherex-photoz/spherex-challenge/BROWN_COSMOS/UGC_09618_N_spec.dat
 71 /data1/hbahk/spherex-photoz/spherex-challenge/BROWN_COSMOS/NGC_3310_spec.dat
 72 /data1/hbahk/spherex-photoz/spherex-challenge/BROWN_COSMOS/NGC_7331_spec.dat
 73 /data1/hbahk/spherex-photoz/spherex-challenge/BROWN_COSMOS/IC_4553_spec.dat
 74 /data1/hbahk/spherex-photoz/spherex-challenge/BROWN_COSMOS/Arp_256_N_spec.dat
 75 /data1/hbahk/spherex-photoz/spherex-challenge/BROWN_COSMOS/NGC_4088_spec.dat
 76 /data1/hbahk/spherex-photoz/spherex-challenge/BROWN_COSMOS/NGC_4621_spec.dat
 77 /data1/hbahk/spherex-photoz/spherex-challenge/BROWN_COSMOS/NGC_3773_spec.dat
 78 /data1/hbahk/spherex-photoz/spherex-challenge/BROWN_COSMOS/NGC_4594_spec.dat
 79 /data1/hbahk/spherex-photoz/spherex-challenge/BROWN_COSMOS/NGC_2403_spec.dat
 80 /data1/hbahk/spherex-photoz/spherex-challenge/BROWN_COSMOS/NGC_5953_spec.dat
 81 /data1/hbahk/spherex-photoz/spherex-challenge/BROWN_COSMOS/NGC_4926_spec.dat
 82 /data1/hbahk/spherex-photoz/spherex-challenge/BROWN_COSMOS/Mrk_0331_spec.dat
 83 /data1/hbahk/spherex-photoz/spherex-challenge/BROWN_COSMOS/NGC_7679_spec.dat
 84 /data1/hbahk/spherex-photoz/spherex-challenge/BROWN_COSMOS/NGC_7585_spec.dat
 85 /data1/hbahk/spherex-photoz/spherex-challenge/BROWN_COSMOS/NGC_7771_spec.dat
 86 /data1/hbahk/spherex-photoz/spherex-challenge/BROWN_COSMOS/Mrk_0475_spec.dat
 87 /data1/hbahk/spherex-photoz/spherex-challenge/BROWN_COSMOS/NGC_4552_spec.dat
 88 /data1/hbahk/spherex-photoz/spherex-challenge/BROWN_COSMOS/NGC_4321_spec.dat
 89 /data1/hbahk/spherex-photoz/spherex-challenge/BROWN_COSMOS/NGC_4387_spec.dat
 90 /data1/hbahk/spherex-photoz/spherex-challenge/BROWN_COSMOS/NGC_1614_spec.dat
 91 /data1/hbahk/spherex-photoz/spherex-challenge/BROWN_COSMOS/NGC_0628_spec.dat
 92 /data1/hbahk/spherex-photoz/spherex-challenge/BROWN_COSMOS/NGC_7673_spec.dat
 93 /data1/hbahk/spherex-photoz/spherex-challenge/BROWN_COSMOS/NGC_4254_spec.dat
 94 /data1/hbahk/spherex-photoz/spherex-challenge/BROWN_COSMOS/UGC_09618_spec.dat
 95 /data1/hbahk/spherex-photoz/spherex-challenge/BROWN_COSMOS/NGC_5194_spec.dat
 96 /data1/hbahk/spherex-photoz/spherex-challenge/BROWN_COSMOS/II_Zw_096_spec.dat
 97 /data1/hbahk/spherex-photoz/spherex-challenge/BROWN_COSMOS/NGC_5195_spec.dat
 98 /data1/hbahk/spherex-photoz/spherex-challenge/BROWN_COSMOS/NGC_0660_spec.dat
 99 /data1/hbahk/spherex-photoz/spherex-challenge/BROWN_COSMOS/NGC_4889_spec.dat
100 /data1/hbahk/spherex-photoz/spherex-challenge/BROWN_COSMOS/Mrk_33_spec.dat
101 /data1/hbahk/spherex-photoz/spherex-challenge/BROWN_COSMOS/NGC_4559_spec.dat
102 /data1/hbahk/spherex-photoz/spherex-challenge/BROWN_COSMOS/NGC_6090_spec.dat
103 /data1/hbahk/spherex-photoz/spherex-challenge/BROWN_COSMOS/NGC_4450_spec.dat
104 /data1/hbahk/spherex-photoz/spherex-challenge/BROWN_COSMOS/NGC_5256_spec.dat
105 /data1/hbahk/spherex-photoz/spherex-challenge/BROWN_COSMOS/NGC_5257_spec.dat
106 /data1/hbahk/spherex-photoz/spherex-challenge/BROWN_COSMOS/NGC_4860_spec.dat
107 /data1/hbahk/spherex-photoz/spherex-challenge/BROWN_COSMOS/UGC_04881_spec.dat
108 /data1/hbahk/spherex-photoz/spherex-challenge/BROWN_COSMOS/IRAS_08572+3915_spec.dat
109 /data1/hbahk/spherex-photoz/spherex-challenge/BROWN_COSMOS/NGC_4486_spec.dat
110 /data1/hbahk/spherex-photoz/spherex-challenge/BROWN_COSMOS/CGCG_049-057_spec.dat
111 /data1/hbahk/spherex-photoz/spherex-challenge/BROWN_COSMOS/Mrk_0930_spec.dat
112 /data1/hbahk/spherex-photoz/spherex-challenge/BROWN_COSMOS/NGC_7674_spec.dat
113 /data1/hbahk/spherex-photoz/spherex-challenge/BROWN_COSMOS/Haro_06_spec.dat
114 /data1/hbahk/spherex-photoz/spherex-challenge/BROWN_COSMOS/NGC_3938_spec.dat
115 /data1/hbahk/spherex-photoz/spherex-challenge/BROWN_COSMOS/NGC_4631_spec.dat
116 /data1/hbahk/spherex-photoz/spherex-challenge/BROWN_COSMOS/NGC_4365_spec.dat
117 /data1/hbahk/spherex-photoz/spherex-challenge/BROWN_COSMOS/NGC_0750_spec.dat
118 /data1/hbahk/spherex-photoz/spherex-challenge/BROWN_COSMOS/NGC_4168_spec.dat
119 /data1/hbahk/spherex-photoz/spherex-challenge/BROWN_COSMOS/UGC_08335_SE_spec.dat
120 /data1/hbahk/spherex-photoz/spherex-challenge/BROWN_COSMOS/NGC_6240_spec.dat
121 /data1/hbahk/spherex-photoz/spherex-challenge/BROWN_COSMOS/NGC_2798_spec.dat
122 /data1/hbahk/spherex-photoz/spherex-challenge/BROWN_COSMOS/NGC_4725_spec.dat
123 /data1/hbahk/spherex-photoz/spherex-challenge/BROWN_COSMOS/NGC_3079_spec.dat
124 /data1/hbahk/spherex-photoz/spherex-challenge/BROWN_COSMOS/UGC_06665_spec.dat
125 /data1/hbahk/spherex-photoz/spherex-challenge/BROWN_COSMOS/NGC_5992_spec.dat
126 /data1/hbahk/spherex-photoz/spherex-challenge/BROWN_COSMOS/NGC_0520_spec.dat
127 /data1/hbahk/spherex-photoz/spherex-challenge/BROWN_COSMOS/NGC_5713_spec.dat
128 /data1/hbahk/spherex-photoz/spherex-challenge/BROWN_COSMOS/NGC_5653_spec.dat
129 /data1/hbahk/spherex-photoz/spherex-challenge/BROWN_COSMOS/NGC_0695_spec.dat
130 /data1/hbahk/spherex-photoz/spherex-challenge/BROWN_COSMOS/Ell4_A_0.sed
131 /data1/hbahk/spherex-photoz/spherex-challenge/BROWN_COSMOS/SB7_A_0.sed
132 /data1/hbahk/spherex-photoz/spherex-challenge/BROWN_COSMOS/Sd_A_0.sed
133 /data1/hbahk/spherex-photoz/spherex-challenge/BROWN_COSMOS/Sd_A_1.sed
134 /data1/hbahk/spherex-photoz/spherex-challenge/BROWN_COSMOS/SB6_A_0.sed
135 /data1/hbahk/spherex-photoz/spherex-challenge/BROWN_COSMOS/Sdm_A_0.sed
136 /data1/hbahk/spherex-photoz/spherex-challenge/BROWN_COSMOS/Ell5_A_0.sed
137 /data1/hbahk/spherex-photoz/spherex-challenge/BROWN_COSMOS/Sd_A_2.sed
138 /data1/hbahk/spherex-photoz/spherex-challenge/BROWN_COSMOS/SB4_A_0.sed
139 /data1/hbahk/spherex-photoz/spherex-challenge/BROWN_COSMOS/Ell7_A_0.sed
140 /data1/hbahk/spherex-photoz/spherex-challenge/BROWN_COSMOS/Ell6_A_0.sed
141 /data1/hbahk/spherex-photoz/spherex-challenge/BROWN_COSMOS/SB5_A_0.sed
142 /data1/hbahk/spherex-photoz/spherex-challenge/BROWN_COSMOS/SB0_A_0.sed
143 /data1/hbahk/spherex-photoz/spherex-challenge/BROWN_COSMOS/Sb_A_1.sed
144 /data1/hbahk/spherex-photoz/spherex-challenge/BROWN_COSMOS/Sb_A_0.sed
145 /data1/hbahk/spherex-photoz/spherex-challenge/BROWN_COSMOS/SB10_A_0.sed
146 /data1/hbahk/spherex-photoz/spherex-challenge/BROWN_COSMOS/SB9_A_0.sed
147 /data1/hbahk/spherex-photoz/spherex-challenge/BROWN_COSMOS/Ell3_A_0.sed
148 /data1/hbahk/spherex-photoz/spherex-challenge/BROWN_COSMOS/SB11_A_0.sed
149 /data1/hbahk/spherex-photoz/spherex-challenge/BROWN_COSMOS/SB8_A_0.sed
150 /data1/hbahk/spherex-photoz/spherex-challenge/BROWN_COSMOS/Sc_A_2.sed
151 /data1/hbahk/spherex-photoz/spherex-challenge/BROWN_COSMOS/Ell2_A_0.sed
152 /data1/hbahk/spherex-photoz/spherex-challenge/BROWN_COSMOS/SB1_A_0.sed
153 /data1/hbahk/spherex-photoz/spherex-challenge/BROWN_COSMOS/Sc_A_1.sed
154 /data1/hbahk/spherex-photoz/spherex-challenge/BROWN_COSMOS/Sc_A_0.sed
155 /data1/hbahk/spherex-photoz/spherex-challenge/BROWN_COSMOS/Sa_A_1.sed
156 /data1/hbahk/spherex-photoz/spherex-challenge/BROWN_COSMOS/SB3_A_0.sed
157 /data1/hbahk/spherex-photoz/spherex-challenge/BROWN_COSMOS/Sa_A_0.sed
158 /data1/hbahk/spherex-photoz/spherex-challenge/BROWN_COSMOS/S0_A_0.sed
159 /data1/hbahk/spherex-photoz/spherex-challenge/BROWN_COSMOS/SB2_A_0.sed
160 /data1/hbahk/spherex-photoz/spherex-challenge/BROWN_COSMOS/Ell1_A_0.sed
