  1 ../BROWN_COSMOS/Arp_118_spec.dat
  2 ../BROWN_COSMOS/Arp_256_N_spec.dat
  3 ../BROWN_COSMOS/Arp_256_S_spec.dat
  4 ../BROWN_COSMOS/CGCG_049-057_spec.dat
  5 ../BROWN_COSMOS/CGCG_436-030_spec.dat
  6 ../BROWN_COSMOS/CGCG_453-062_spec.dat
  7 ../BROWN_COSMOS/Ell1_A_0.sed
  8 ../BROWN_COSMOS/Ell2_A_0.sed
  9 ../BROWN_COSMOS/Ell3_A_0.sed
 10 ../BROWN_COSMOS/Ell4_A_0.sed
 11 ../BROWN_COSMOS/Ell5_A_0.sed
 12 ../BROWN_COSMOS/Ell6_A_0.sed
 13 ../BROWN_COSMOS/Ell7_A_0.sed
 14 ../BROWN_COSMOS/Haro_06_spec.dat
 15 ../BROWN_COSMOS/IC_0691_spec.dat
 16 ../BROWN_COSMOS/IC_0860_spec.dat
 17 ../BROWN_COSMOS/IC_0883_spec.dat
 18 ../BROWN_COSMOS/IC_4051_spec.dat
 19 ../BROWN_COSMOS/IC_4553_spec.dat
 20 ../BROWN_COSMOS/IC_5298_spec.dat
 21 ../BROWN_COSMOS/III_Zw_035_spec.dat
 22 ../BROWN_COSMOS/II_Zw_096_spec.dat
 23 ../BROWN_COSMOS/IRAS_08572+3915_spec.dat
 24 ../BROWN_COSMOS/IRAS_17208-0014_spec.dat
 25 ../BROWN_COSMOS/Mrk_0331_spec.dat
 26 ../BROWN_COSMOS/Mrk_0475_spec.dat
 27 ../BROWN_COSMOS/Mrk_0930_spec.dat
 28 ../BROWN_COSMOS/Mrk_1450_spec.dat
 29 ../BROWN_COSMOS/Mrk_1490_spec.dat
 30 ../BROWN_COSMOS/Mrk_33_spec.dat
 31 ../BROWN_COSMOS/NGC_0337_spec.dat
 32 ../BROWN_COSMOS/NGC_0474_spec.dat
 33 ../BROWN_COSMOS/NGC_0520_spec.dat
 34 ../BROWN_COSMOS/NGC_0584_spec.dat
 35 ../BROWN_COSMOS/NGC_0628_spec.dat
 36 ../BROWN_COSMOS/NGC_0660_spec.dat
 37 ../BROWN_COSMOS/NGC_0695_spec.dat
 38 ../BROWN_COSMOS/NGC_0750_spec.dat
 39 ../BROWN_COSMOS/NGC_0855_spec.dat
 40 ../BROWN_COSMOS/NGC_1068_spec.dat
 41 ../BROWN_COSMOS/NGC_1144_spec.dat
 42 ../BROWN_COSMOS/NGC_1275_spec.dat
 43 ../BROWN_COSMOS/NGC_1614_spec.dat
 44 ../BROWN_COSMOS/NGC_2388_spec.dat
 45 ../BROWN_COSMOS/NGC_2403_spec.dat
 46 ../BROWN_COSMOS/NGC_2537_spec.dat
 47 ../BROWN_COSMOS/NGC_2623_spec.dat
 48 ../BROWN_COSMOS/NGC_2798_spec.dat
 49 ../BROWN_COSMOS/NGC_3049_spec.dat
 50 ../BROWN_COSMOS/NGC_3079_spec.dat
 51 ../BROWN_COSMOS/NGC_3190_spec.dat
 52 ../BROWN_COSMOS/NGC_3198_spec.dat
 53 ../BROWN_COSMOS/NGC_3265_spec.dat
 54 ../BROWN_COSMOS/NGC_3310_spec.dat
 55 ../BROWN_COSMOS/NGC_3351_spec.dat
 56 ../BROWN_COSMOS/NGC_3379_spec.dat
 57 ../BROWN_COSMOS/NGC_3521_spec.dat
 58 ../BROWN_COSMOS/NGC_3627_spec.dat
 59 ../BROWN_COSMOS/NGC_3690_spec.dat
 60 ../BROWN_COSMOS/NGC_3773_spec.dat
 61 ../BROWN_COSMOS/NGC_3870_spec.dat
 62 ../BROWN_COSMOS/NGC_3938_spec.dat
 63 ../BROWN_COSMOS/NGC_4088_spec.dat
 64 ../BROWN_COSMOS/NGC_4125_spec.dat
 65 ../BROWN_COSMOS/NGC_4138_spec.dat
 66 ../BROWN_COSMOS/NGC_4168_spec.dat
 67 ../BROWN_COSMOS/NGC_4194_spec.dat
 68 ../BROWN_COSMOS/NGC_4254_spec.dat
 69 ../BROWN_COSMOS/NGC_4321_spec.dat
 70 ../BROWN_COSMOS/NGC_4365_spec.dat
 71 ../BROWN_COSMOS/NGC_4385_spec.dat
 72 ../BROWN_COSMOS/NGC_4387_spec.dat
 73 ../BROWN_COSMOS/NGC_4450_spec.dat
 74 ../BROWN_COSMOS/NGC_4458_spec.dat
 75 ../BROWN_COSMOS/NGC_4473_spec.dat
 76 ../BROWN_COSMOS/NGC_4486_spec.dat
 77 ../BROWN_COSMOS/NGC_4536_spec.dat
 78 ../BROWN_COSMOS/NGC_4550_spec.dat
 79 ../BROWN_COSMOS/NGC_4551_spec.dat
 80 ../BROWN_COSMOS/NGC_4552_spec.dat
 81 ../BROWN_COSMOS/NGC_4559_spec.dat
 82 ../BROWN_COSMOS/NGC_4569_spec.dat
 83 ../BROWN_COSMOS/NGC_4579_spec.dat
 84 ../BROWN_COSMOS/NGC_4594_spec.dat
 85 ../BROWN_COSMOS/NGC_4621_spec.dat
 86 ../BROWN_COSMOS/NGC_4625_spec.dat
 87 ../BROWN_COSMOS/NGC_4631_spec.dat
 88 ../BROWN_COSMOS/NGC_4660_spec.dat
 89 ../BROWN_COSMOS/NGC_4670_spec.dat
 90 ../BROWN_COSMOS/NGC_4676_A_spec.dat
 91 ../BROWN_COSMOS/NGC_4725_spec.dat
 92 ../BROWN_COSMOS/NGC_4826_spec.dat
 93 ../BROWN_COSMOS/NGC_4860_spec.dat
 94 ../BROWN_COSMOS/NGC_4889_spec.dat
 95 ../BROWN_COSMOS/NGC_4926_spec.dat
 96 ../BROWN_COSMOS/NGC_5033_spec.dat
 97 ../BROWN_COSMOS/NGC_5055_spec.dat
 98 ../BROWN_COSMOS/NGC_5104_spec.dat
 99 ../BROWN_COSMOS/NGC_5194_spec.dat
100 ../BROWN_COSMOS/NGC_5195_spec.dat
101 ../BROWN_COSMOS/NGC_5256_spec.dat
102 ../BROWN_COSMOS/NGC_5257_spec.dat
103 ../BROWN_COSMOS/NGC_5258_spec.dat
104 ../BROWN_COSMOS/NGC_5653_spec.dat
105 ../BROWN_COSMOS/NGC_5713_spec.dat
106 ../BROWN_COSMOS/NGC_5866_spec.dat
107 ../BROWN_COSMOS/NGC_5953_spec.dat
108 ../BROWN_COSMOS/NGC_5992_spec.dat
109 ../BROWN_COSMOS/NGC_6052_spec.dat
110 ../BROWN_COSMOS/NGC_6090_spec.dat
111 ../BROWN_COSMOS/NGC_6240_spec.dat
112 ../BROWN_COSMOS/NGC_7331_spec.dat
113 ../BROWN_COSMOS/NGC_7585_spec.dat
114 ../BROWN_COSMOS/NGC_7591_spec.dat
115 ../BROWN_COSMOS/NGC_7592_spec.dat
116 ../BROWN_COSMOS/NGC_7673_spec.dat
117 ../BROWN_COSMOS/NGC_7674_spec.dat
118 ../BROWN_COSMOS/NGC_7679_spec.dat
119 ../BROWN_COSMOS/NGC_7714_spec.dat
120 ../BROWN_COSMOS/NGC_7771_spec.dat
121 ../BROWN_COSMOS/S0_A_0.sed
122 ../BROWN_COSMOS/Sa_A_0.sed
123 ../BROWN_COSMOS/Sa_A_1.sed
124 ../BROWN_COSMOS/SB0_A_0.sed
125 ../BROWN_COSMOS/SB10_A_0.sed
126 ../BROWN_COSMOS/SB11_A_0.sed
127 ../BROWN_COSMOS/SB1_A_0.sed
128 ../BROWN_COSMOS/SB2_A_0.sed
129 ../BROWN_COSMOS/SB3_A_0.sed
130 ../BROWN_COSMOS/SB4_A_0.sed
131 ../BROWN_COSMOS/SB5_A_0.sed
132 ../BROWN_COSMOS/SB6_A_0.sed
133 ../BROWN_COSMOS/SB7_A_0.sed
134 ../BROWN_COSMOS/SB8_A_0.sed
135 ../BROWN_COSMOS/SB9_A_0.sed
136 ../BROWN_COSMOS/Sb_A_0.sed
137 ../BROWN_COSMOS/Sb_A_1.sed
138 ../BROWN_COSMOS/Sc_A_0.sed
139 ../BROWN_COSMOS/Sc_A_1.sed
140 ../BROWN_COSMOS/Sc_A_2.sed
141 ../BROWN_COSMOS/Sd_A_0.sed
142 ../BROWN_COSMOS/Sd_A_1.sed
143 ../BROWN_COSMOS/Sd_A_2.sed
144 ../BROWN_COSMOS/Sdm_A_0.sed
145 ../BROWN_COSMOS/UGC_04881_spec.dat
146 ../BROWN_COSMOS/UGC_05101_spec.dat
147 ../BROWN_COSMOS/UGC_06665_spec.dat
148 ../BROWN_COSMOS/UGC_06850_spec.dat
149 ../BROWN_COSMOS/UGC_08335_NW_spec.dat
150 ../BROWN_COSMOS/UGC_08335_SE_spec.dat
151 ../BROWN_COSMOS/UGC_08696_spec.dat
152 ../BROWN_COSMOS/UGC_09618_N_spec.dat
153 ../BROWN_COSMOS/UGC_09618_spec.dat
154 ../BROWN_COSMOS/UGC_09618_S_spec.dat
155 ../BROWN_COSMOS/UGC_12150_spec.dat
156 ../BROWN_COSMOS/UGCA_166_spec.dat
157 ../BROWN_COSMOS/UGCA_208_spec.dat
158 ../BROWN_COSMOS/UGCA_219_spec.dat
159 ../BROWN_COSMOS/UGCA_410_spec.dat
160 ../BROWN_COSMOS/UM_461_spec.dat
